.header{
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
.header__container{
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 100px;
}
svg{
  width: 220px;
  height: 108px;
}
.header__logo{
  z-index: 7;
}
.header__menu{
  z-index: 5;
}
.menu__icon{
  display: none;
}
.menu__list{
  font-size: clamp(1rem, 0.8846rem + 0.5128vw, 1.5rem);}
li{
  list-style-type: none;
}
a{
  text-decoration: none;
}
.menu__list > li{
  margin: 0 0 0 30px;
}
.menu__link{
  color: white;
}
li {
  position: relative;
  color: #B0CB1F;
  cursor: pointer;
  line-height: 2;
  text-decoration: none;

}
li:after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #B0CB1F;
  content: "";
  transition: width 0.3s ease-out;
}
li:hover:after,
li:focus:after {
  width: 100%;
}
@media (min-width: 1100px) {
  .menu__list > li{
    margin: 0 0 0 80px;
  }
}
@media (min-width: 767px) {
  .menu__list{
    display: flex;
    align-items: center;
  }
  .menu__list > li {
    padding: 10px;
  }
}
@media (max-width: 767px){
  svg{
    width: 150px;
  }
  .header__logo{
    padding: 0 0 0 20px;
  }
  .menu__icon{
    z-index: 5;
    display: block;
    position: relative;
    width: 28px;
    height: 20px;
    cursor: pointer;
  }
  .menu__icon span,
  .menu__icon:before,
  .menu__icon:after{
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: white;
  }
  .menu__icon:before,
  .menu__icon:after {
    content: "";
  }
  .menu__icon:before{
    top: 0;
  }
  .menu__icon:after{
    bottom: 0;
  }
  .menu__icon span{
    top: 50%;
    transform: scale(1) translate(0px,-50%);
  }
  .menu__body{
    position: fixed;
    top: 0;
    left: -110%;
    width: 100%;
    padding: 0 0 25px 0;
    background: rgba(0, 0, 0, 0.8);
    transition: left 0.8s ease 0s;
    overflow: auto;
    text-align: right;
    display: inline-block;
  }
  .dropMenu {
    left: 0;
  }
  .menu__body::before{
    content: "";
    width: 100%;
    top: 0;
    left: 0;
    height: 100px;
    background-color: #464646;
  }
  .menu__list{
    margin: 150px 0 0 0;
  }
  .menu__list > li {
    margin: 0 100px 30px 0;
  }
  .menu__list > li:last-child {
    margin-bottom: 0;
  }
  .menu__link {
    font-size: 20px;
    color: white;
  }
}
